<% @page_title = "Home" %>

<div class="home-wrapper">

  <div class="home-card">
    <div class="face face1">
      <div class="content">
        <%= image_tag "sketch.png", size: "100x70" %>
        <!-- <h3>design</h3> -->
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <p>content-text content-text content-text content-text content-text </p>
        <a href="#">Read More</a>
      </div>  
    </div>
  </div>

</div>