<header>
  <ul class="sample-ul">
    <li class="sample-li">Logo</li>
    <li class="sample-li">New</li>
    <li class="sample-li">Login</li>
    <li class="sample-li">About</li>
    <li class="sample-li">Contact</li>
  </ul>
</header>