<div class="search-form-container">
  <%= form_tag search_users_path, method: :get, class: "form-inline" do %>
    <%= text_field_tag "q", params[:q] , class: "form-control", placeholder: "Search" %>
    <%= submit_tag "Search", class: "btn btn-outline-danger ml-3" %>
  <% end %>
</div>

<%= render partial: "shared/card" %>