.card-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 500px;
  overflow-x: scroll;
  width: 100%;
}

.card {
  position: relative;
  background: white;
  border: none;
  width: 300px;
  height: 400px;
  margin-right: 30px;
  flex-shrink: 0;
  box-shadow: 0 0 12px #555;
}

.card-content {
  windows: 400px;
  padding: 30px;
  box-sizing: border-box;
}

.card-content a {
  display: inline-block;
  margin: 10px 0 0;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #262626;
  color: black;
  font-weight: 600;
  transition: .4s;
}

.card-content a:hover {
  background: #262626;
  color: white;
  box-shadow: 0 0 18px black;
}

.card .sliderText {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.card .sliderText h3 {
  color: #fff;
  font-size: 3em;
}

.search-form-container {
  margin: 20px auto;
  width: 300px;
}






























